.container{
    /* margin-top: 300px; */
    height:500px;
    width:200px;
    border: 1px solid black;
}

.child{
    width:100px;
    height:40px;
    background-color: blueviolet;
    border: 1px solid black;
}

.child11{
    width:100px;
    height:40px;
    background-color: rgb(250, 250, 154);
    border: 1px solid black;
}

.child1{
    position:absolute;
    top:50px;
    right:100px
}

.child2{
    position:relative;
    top:165px;
}

.child3{
    position:fixed;
    top: 15px;
    /* bottom:15px; */
    z-index: 1;
}

.child4{
    position: sticky;
    top: 70px;
}