#container{
    height:400px;
    width:100%;
    border: 1px solid black;
}
.contentContainer{
    height:300px;
    width:20%;
    border: 1px solid;
    box-sizing: border-box;
    display:inline-block;
    margin:2%;
    padding:120px 10px;
}

#container2{
    height:400px;
    width:100%;
    border: 1px solid black;
}
.contentContainer2{
    height:300px;
    width:20%;
    border: 1px solid;
    margin:2%;
    box-sizing: border-box;
    padding:120px 10px;
    float: left;
}
#wiki>img{
    height:100px;
    width:100px;
    float:right;
}
/* #wiki>p{
    clear:both;
} */